[Desktop Entry]
Type=Application
Name=System Settings
Comment=Open HyprSequoia System Settings
Exec=hyprsequoia-dock-launch settings
Icon=preferences-system
Terminal=false
Categories=Settings;
NoDisplay=true
StartupNotify=true
