[Desktop Entry]
Type=Application
Name=Finder
Comment=Open the default file manager
Exec=hyprsequoia-dock-launch finder
Icon=system-file-manager
Terminal=false
Categories=System;FileTools;FileManager;
NoDisplay=true
StartupNotify=true
