[Desktop Entry]
Name=HyprSequoia
Comment=HyprSequoia desktop session
Exec=/usr/local/bin/hyprsequoia-start
TryExec=/usr/local/bin/hyprsequoia-start
Type=Application
DesktopNames=Hyprland
